html,
body {
  overflow: hidden;
}

.block-content {
  margin-inline: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .main-popup {
    display: none;
  }
}
